<DOCTYPE html>
    <html>  
        <head>
            <meta chahrset="utf-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <title> BMI CALCULATOR </title>

        </head>
        <style>

            body{
                background-color: #f8ecca;
            }
            .jumbotron{
                padding: 165px;
                background: linear-gradient(-45deg, #524fff, #e6f13e, #d045f3, #eb7029);
   
                animation: gradient 24 ease infinite;

                @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

            }
        </style>
        <body>
            <h1><center>BMI CALCULATOR</center> </h1>
            <form action='http://localhost:3000/process-contacts' method="POST">
                   
              
    <div class ="jumbotron">
  <table class="table table-bordered">
     
    <thead>
      <tr> <center>
        <th>weight</th>
        <th> Height</th></center>
      </tr>
    </thead>
    <tbody>
      <tr><center>
        <td><input type="text" name="weight"/> </td>
        <td><input type="text" name="height" /></td></center>
      </tr>
    </tbody>
    
  </table>

 <center><input type="submit" class="btn btn-danger" value="Submit"></center>
 
</div></div>
                
            </form> 
        </body>
    </html>