<DOCTYPE html>
    <html>  
        <head>
            <meta chahrset="utf-8">
            <title> HBS </title>
        </head>
        <body>
            <img src="img/logo.png"/>
            <h1> Hi, {{name}}</h1>
        </body>
    </html>